<div data-role="view" data-title="View" data-layout="main" data-model="app.homePage" data-show="app.homePage.onShow" data-after-show="app.homePage.afterShow" id="homePageScreen" class="screen">
    <div id="homePageModel" class="form-view screen__content screen__content--form add-item-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">
                    <label id="textBlock3Field" class="km-label-above field field--text-block">

                        <span class="field__label" data-bind="text: strings.homePage.homePageModel.editableListForm1.textBlock3.title"></span>


                        <div class="textBlock field__content">Finding your brick is easy! Click the FIND MY BRICK button below and then enter the text on the brick you&#39;re looking for in the search bar along the top of the screen. The bricks with matching text will automatically display
                            below the search bar. Click on the brick you want to locate to see the details on where it is located in the Plaza.</div>

                    </label>
                </li>
                <li class="form-content-item">
                    <label id="textBlock4Field" class="km-label-above field field--text-block">

                        <span class="field__label" data-bind="text: strings.homePage.homePageModel.editableListForm1.textBlock4.title"></span>


                        <div class="textBlock field__content">You will be given the two KEY BRICKS that your selected brick is located between. As well, this application has added the GPS location in the middle of each Key Brick pair to aid you in finding the brick.</div>

                    </label>
                </li>
            </ul>

            <div class="button-group">
            </div>
        </form>
        <!-- START_CUSTOM_CODE_homePageModel -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

        <!-- END_CUSTOM_CODE_homePageModel -->
    </div>
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-bind="text: strings.homePage.title"></span>

        </div>
    </header>


    <!-- START_CUSTOM_CODE_homePage -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_homePage -->
</div>